body {
    background-image: linear-gradient(beige, white);
  }
  
  #title {
    text-align: center;
    color: black;
    font-family: "Qwitcher Grypen", cursive;
  }
  #image {
    display: flex;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    border-radius: 90%;
    border: 2px black solid;
  }
  
  #text {
    margin-top: 50px;
    color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: lighter;
    width: 800px;
    margin-left: auto;
    margin-right: auto;
    text-align: justify;
    line-height: 40px;
  }
  